<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHOwTEH11jamo0QRcaEmRe2XQXpwMv_Q8</string>
	<key>GCM_SENDER_ID</key>
	<string>242990458762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hsstuinhappchick.CookStudio</string>
	<key>PROJECT_ID</key>
	<string>cookstudioapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cookstudioapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242990458762:ios:d78fec38fe3a90f7be8a73</string>
</dict>
</plist>